@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 400;
  src: local("Poppins"),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Italic.woff) format("woff");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Bold.woff) format("woff");
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 800;
  src: local("Poppins"),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ExtraBoldItalic.woff)
      format("woff");
}

:root {
  --off-black: hsl(0, 0%, 8%);
  --smoke-grey: hsl(0, 1%, 44%);
  --light-grey: hsl(0, 0%, 86%);
  --off-white: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--off-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
